@import '../../Styles';

.DetailsView {
    padding-bottom: $pageSpacing;

    .titleWrap {
        background-color: $primaryColor;
        font-size: $fontSizeXL;
        padding-right: $pageSpacing;
        padding-left: $pageSpacing;
        font-weight: lighter;
        padding-top: 22px;
        padding-bottom: 22px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
        color: $white;
    }

    .whitePage {
        padding: $pageSpacing;
        color: $greyish;

        .moviePoster {
            margin-right: $pageSpacing;
            height: 190px;
        }

        .year {
            font-weight: lighter;
        }

        .year, .length {
            font-size: $fontSizeL;
        }

        .length {
            padding-top: 4px;
        }

        .rating {
            font-size: $fontSizeS;
            color: $black;
            padding-top: 16px;
            padding-bottom: 16px;
        }

        .markFavorite {
            font-size: $fontSizeXS;
            background-color: $primaryColorLight;
            border: 1px solid $primaryColorLightish;
            text-transform: uppercase;
            width: 112px;
            height: 48px;
            text-align: center;
        }

        .overView {
            padding-top: $pageSpacing;
            padding-bottom: $pageSpacing;
            font-size: $fontSizeXS;
            border-bottom: 1px solid $grey;
        }

        .trailersTitle {
            font-size: $fontSizeM;
            padding-top: 8px;
        }

        .trailer {
            padding: $pageSpacing;
            border-bottom: 1px solid $grey;

            .playButton {
                width: 0; 
                height: 0; 
                border-top: 11px solid transparent;
                border-bottom: 11px solid transparent;
                border-left: 24px solid $black;
                margin-right: $pageSpacing;
            }
        }

        .trailer:last-of-type {
            border: none;
        }
    }
}