.DiscoveryView {
    .row {
        .rowItem {
            flex: 1;
            
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}