@import '../../Styles';

.NavBar {
    background-color: $blackish;
    padding-left: $pageSpacing;
    font-size: $fontSizeL;
    color: $white;
    height: 64px;
    justify-content: space-between;
    font-weight: bold;

    .rightSide {
        padding-left: $pageSpacing;
        padding-right: $pageSpacing;
    }
    
    .leftSide img {
        margin-right: 10px;
    }
}