// Colors
$black: #000000;
$blackish: #212121;
$grey: #6a6767;
$greyish: #747474;
$white: #fff;
$primaryColor: #009688;
$primaryColorLightish: #6fcac2;
$primaryColorLight: #86e4db;


// Dimensions
$pageSpacing: 24px;


// Typography
$fontSizeXL: 32px;
$fontSizeL: 24px;
$fontSizeM: 18px;
$fontSizeS: 16px;
$fontSizeXS: 14px;


// Override defaults
body {
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}


// Reused classNames
.row {
  display: flex;
}

.verticalCenteredRow {
  display: flex;
  align-items: center;
}

